body {
    background-color: lightsteelblue;
}
.css-class {
    background-color: mediumslateblue;

}

.css-class h1 {
    font-size: 18px;

}
.css-class p {
    font-size: 16px;
    color: darkblue;
}
.css-class li{
    color: orchid;
}